<div class='movie-modal'>
  <div class='movie-modal__wrapper'>
    <button class='movie-modal__btn-close js-modal-close' aria-label='close'>
    </button>
    <div class='movie-modal__img-wrapper '>
      {{#if poster_path}}
      <img src='https://image.tmdb.org/t/p/w400/{{poster_path}}' alt='{{title}}' class='movie-modal__img' />
      {{else}}
      <img src='https://raw.githubusercontent.com/irynakarmazinova/filmoteka/main/src/images/coming-soon.jpg'
        alt='{{title}}' class='movie-modal__img' />
      {{/if}}
    </div>
    <div class='movie-modal__info'>
      <h2 class='movie-modal__title'>{{title}}</h2>
      <ul class='movie-modal__characteristics list'>
        <li class='movie-modal__characteristic'>
          <span class='movie-modal__characteristic-label'>Vote / Votes</span>
          <span class='movie-modal__characteristic-value'>
            <span class='movie-modal__vote-average'>
              {{vote_average}}
            </span>
            /
            <span class='movie-modal__vote-count'>
              {{vote_count}}
            </span>
          </span>
        </li>
        <li class='movie-modal__characteristic'>
          <span class='movie-modal__characteristic-label'>Popularity</span>
          <span class='movie-modal__characteristic-value'>{{popularity}}</span>
        </li>
        <li class='movie-modal__characteristic'>
          <span class='movie-modal__characteristic-label'>Original Title</span>
          <span class='movie-modal__characteristic-value'>{{original_title}}</span>
        </li>
        <li class='movie-modal__characteristic'>
          <span class='movie-modal__characteristic-label'>Genre</span>
          <ul class='movie-modal__characteristic-genres list'>
            {{#each genres}}
            <li class='movie-modal__characteristic-genre'>{{name}}</li>
            {{/each}}
          </ul>
        </li>
      </ul>
      <div class='movie-modal__desc'>
        <h4 class='movie-modal__desc-label'>About</h4>
        <p class='movie-modal__desc-text'>
          {{overview}}
        </p>
      </div>
      <div class='movie-modal__buttons'>
        <button data-type='watchedMovies' data-action='{{#if isWatched}}remove{{else}}add{{/if}}'
          class='movie-modal__btn {{#if isWatched}}movie-modal__btn--active{{/if}} movie-modal__btn--orange'>
          {{#if isWatched}}remove from{{else}}add to{{/if}} watched
        </button>
        <button data-type='queuedMovies' data-action='{{#if isQueued}}remove{{else}}add{{/if}}'
          class='movie-modal__btn {{#if isQueued}}movie-modal__btn--active{{/if}} movie-modal__btn--transparent'>
          {{#if isQueued}}remove from{{else}}add to{{/if}} queue
        </button>
        <button class="movie-modal__btn" data-action="show-trailer">Trailer</button>
      </div>
    </div>
  </div>
</div>